.page {
  background-image: linear-gradient(to right, #fff5f5, #f6a1a1);
  display: flex;
  flex-direction: row;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  height: 100vh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
}

.desc {
  font-family: var(--font-rancho), cursive;
  font-size: 2rem;
  color: #333;
  text-align: justify;
  margin-top: -100px;
  margin-right: 50px;

}

@media (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  .desc {
    margin: 80px 40px;
    padding-bottom: 50px;
  }
}
